In [1]:
# Import Dependencies
from flask import Flask, jsonify
import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.sql.expression import cast
import pandas as pd
import numpy as np
from pprint import pprint
import geopandas as gpd

In [ ]:
#create engine
engine = create_engine("postgresql://postgres:postgres@localhost:5432/project_3_db")

In [ ]:
#reflect database tables

Base = automap_base()
Base.prepare(autoload_with = engine)
Base.classes.keys()

In [ ]:
#use inspector to get table names
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
voyages = pd.read_sql_query("select * from voyages", con=engine)
voyages_json = voyages.to_json(orient='records')
voyages_json

In [ ]:
vessels = Base.classes.vessels

In [ ]:
session = Session(engine)

In [ ]:
sel = [vessels.flag_gfw, func.sum(vessels.fishing_hours_2020)]

results = session.query(*sel).group_by(vessels.flag_gfw)

totalfishing_list = []

for x in results:
    totalfishing_list.append(x)

pprint(totalfishing_list)

In [2]:
vessels_df = pd.read_csv('VesselsClean.csv')
vessels_df

,mmsi,flag_gfw,vessel_class_gfw,length_m_gfw,tonnage_gt_gfw,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020
0,40120000,GRC,trawlers,26.30,133.00,0.00,0.00,674.10
1,444002410,KOR,tuna_purse_seines,79.60,2132.33,0.00,0.00,144.43
2,987654320,PHL,tuna_purse_seines,66.40,1081.00,0.00,0.00,545.33
3,554128120,NRU,tuna_purse_seines,71.79,1350.00,0.00,0.00,587.01
4,112119600,USA,fishing,24.64,85.48,0.00,0.00,318.22
...,...,...,...,...,...,...,...,...
114186,601523000,ZAF,other_purse_seines,29.29,163.90,268.53,138.34,309.70
114187,601554000,ZAF,other_purse_seines,29.82,135.52,80.66,186.25,313.66
114188,601556000,ZAF,other_purse_seines,33.97,275.32,140.74,203.67,220.57
114189,601039500,ZAF,other_purse_seines,26.86,124.85,317.80,159.73,196.31
114190,601557000,ZAF,other_purse_seines,30.82,190.00,0.00,0.00,0.00

In [3]:
country_grouped_df = vessels_df.groupby(vessels_df['flag_gfw']).sum().sort_values(by=['fishing_hours_2020'], ascending=False)
# country_grouped_df_2020 = country_grouped_df['fishing_hours_2020']
# top10_fishinghours_sum = country_grouped_df.iloc[:10]
# top10_fishinghours_sum
# top10_fishinghours_sum.to_csv('top10_fishinghours_sum.csv')

In [4]:

country_grouped_df.rename(columns = {"fishing_hours_2018": "2018", "fishing_hours_2019": "2019", "fishing_hours_2020": "2020"}, inplace=True)

country_grouped_df

#country_grouped_df.to_csv('country_fishinghours_sum_full.csv')

,mmsi,length_m_gfw,tonnage_gt_gfw,2018,2019,2020
flag_gfw,,,,,,
CHN,33904384274682,1714354.66,8083731.45,17984788.43,19959099.23,17733860.16
TWN,1226749607752,83693.94,510956.62,3714057.45,4064024.67,3645625.87
KOR,1494121187620,88960.29,516267.66,1964382.74,2377650.51,2420540.74
ESP,501754559735,52661.72,339499.00,2354664.41,2443193.53,2359400.62
RUS,309957012754,60330.44,1433322.95,2099773.64,2156401.43,2196629.88
...,...,...,...,...,...,...
GUF,745002000,26.73,239.49,0.00,0.00,0.00
SDN,662409000,19.68,63.55,0.00,0.00,0.00
DMA,976059000,280.01,12227.84,0.00,0.00,0.00
DJI,2485638077,169.15,1888.06,2310.30,0.00,0.00
ABW,307005349,17.01,38.09,0.00,0.00,0.00

In [5]:
#create dataframe containing count of total vessels to merge with dataframe with total fishing hours created using vessels table
country_grouped_totalvessels = vessels_df.groupby(vessels_df['flag_gfw']).count()
country_grouped_totalvessels = country_grouped_totalvessels[['mmsi']]
country_grouped_totalvessels.rename(columns = {'mmsi': 'total_vessels'}, inplace=True)
df_to_merge = country_grouped_totalvessels.reset_index()

#merge with total fishing hours dataframe

df_to_merge

bubble_merged_df = pd.merge(df_to_merge, country_grouped_df, how='inner', on='flag_gfw')

In [6]:
bubble_merged_df.to_csv('bubble_merged_data.csv', index=False)

In [7]:
#country_vesseltype_grouped = vessels_df.groupby(['flag_gfw', 'vessel_class_gfw']).count()

vessels_df

#country_vesseltype_grouped = vessels_df.groupby(['flag_gfw','vessel_class_gfw'])['vessel_class_gfw'].count()
country_vesseltype_grouped = vessels_df.groupby(['flag_gfw','vessel_class_gfw']).count()
country_vesseltype_grouped.rename(columns= {'mmsi': 'total_vessels'})

country_vesseltype_grouped.to_csv('country_vessels_grouped.csv')

                           total_vessels  length_m_gfw  tonnage_gt_gfw  \
flag_gfw vessel_class_gfw
ABW      trawlers                      1             1               1
AFG      fishing                       2             2               2
         set_longlines                 1             1               1
         trawlers                      1             1               1
AGO      fishing                       3             3               3
...                                  ...           ...             ...
ZAF      pots_and_traps                1             1               1
         purse_seines                  1             1               1
         set_gillnets                 11            11              11
         set_longlines                20            20              20
         trawlers                     72            72              72

                           fishing_hours_2018  fishing_hours_2019  \
flag_gfw vessel_class_gfw
ABW      trawlers                           1                   1
AFG      fishing                            2                   2
         set_longlines                      1                   1
         trawlers                           1                   1
AGO      fishing                            3                   3
...                                       ...                 ...
ZAF      pots_and_traps                     1                   1
         purse_seines                       1                   1
         set_gillnets                      11                  11
         set_longlines                     20                  20
         trawlers                          72                  72

                           fishing_hours_2020
flag_gfw vessel_class_gfw
ABW      trawlers                           1
AFG      fishing                            2
         set_longlines                      1
         trawlers                           1
AGO      fishing                            3
...                                       ...
ZAF      pots_and_traps                     1
         purse_seines                       1
         set_gillnets                      11
         set_longlines                     20
         trawlers                          72

[840 rows x 6 columns]

In [11]:
final_voyages_df = pd.read_csv('Finalcleanedvoyages.csv')
final_voyages_df_reduced = final_voyages_df[['mmsi', 'flag_gfw', 'lat_start', 'lon_start', 'lat_end', 'lon_end']]
final_voyages_df_reduced

            mmsi flag_gfw  lat_start   lon_start    lat_end     lon_end
0      124072890      ESP  38.506097   -0.220061  38.506866   -0.218188
1      224071980      ESP  38.566465   -0.052867  38.506866   -0.218188
2      224100160      ESP  38.566465   -0.052867  38.506866   -0.218188
3      224155590      ESP  38.566465   -0.052867  38.506866   -0.218188
4      224102280      ESP  38.505027   -0.218712  38.506866   -0.218188
...          ...      ...        ...         ...        ...         ...
87354  367139050      USA  56.465621 -132.389948  56.465621 -132.389948
87355  367575760      USA  43.712731 -124.105257  48.721980 -122.514728
87356  367550710      USA  33.702541 -118.203585  33.655273 -118.119622
87357  367772770      USA  29.389982  -89.594699  29.460237  -89.624261
87358  574561573      VNM  10.230596  107.057049  10.230283  107.050326

[87359 rows x 6 columns]

In [14]:
#write cleaned voyages data to csv
final_voyages_df_reduced.to_csv('cleaned_voyages_for_map.csv')

In [12]:
#code to create geopandas dataframe if needed for future analysis

# gdf_start = gpd.GeoDataFrame(final_voyages_df_reduced, geometry = gpd.points_from_xy(final_voyages_df['lon_start'], final_voyages_df['lat_start']))
# gdf_start

,mmsi,flag_gfw,lat_start,lon_start,lat_end,lon_end,geometry
0,124072890,ESP,38.506097,-0.220061,38.506866,-0.218188,POINT (-0.22006 38.50610)
1,224071980,ESP,38.566465,-0.052867,38.506866,-0.218188,POINT (-0.05287 38.56646)
2,224100160,ESP,38.566465,-0.052867,38.506866,-0.218188,POINT (-0.05287 38.56646)
3,224155590,ESP,38.566465,-0.052867,38.506866,-0.218188,POINT (-0.05287 38.56646)
4,224102280,ESP,38.505027,-0.218712,38.506866,-0.218188,POINT (-0.21871 38.50503)
...,...,...,...,...,...,...,...
87354,367139050,USA,56.465621,-132.389948,56.465621,-132.389948,POINT (-132.38995 56.46562)
87355,367575760,USA,43.712731,-124.105257,48.721980,-122.514728,POINT (-124.10526 43.71273)
87356,367550710,USA,33.702541,-118.203585,33.655273,-118.119622,POINT (-118.20359 33.70254)
87357,367772770,USA,29.389982,-89.594699,29.460237,-89.624261,POINT (-89.59470 29.38998)
87358,574561573,VNM,10.230596,107.057049,10.230283,107.050326,POINT (107.05705 10.23060)

In [13]:
#write to geopandas / ESRI shapefile
# gdf_start.to_file('voyages_start_geo')